<section class="map">
  <nav class="card categories">
    <h1> {{t "map_header"}} </h1>

    <div class="buttons">
      {{#each categories as |category|}}
        {{#link-to (query-params filter=category) class='small blue button' }}
          {{category}}
        {{/link-to}}
      {{/each}}
    </div>

    {{#mapbox-map mapId='mapbox.streets' divId="map" center=(mapbox-coords 40.4939069 -74.4456473) zoom=13 as |map|}}
      {{#each points as |point|}}
        {{mapbox-marker map=map color=(category-color point) popup-title=point.name url=point.websiteUrl symbol='star' coordinates=(mapbox-coords point.latitude point.longitude)}}
      {{/each}}

    {{/mapbox-map}}

    {{#link-to 'index' class='small red button'}}&larr; Go Back{{/link-to}}
  </nav>

  <section class="articles">
    {{#each points as |point index|}}
      <article class="animated fadeInRight" style="animation-delay: 0.{{index}}s">
        {{#link-to 'news.article' 1}}
          <h2>{{ point.name }}</h2>
        {{/link-to}}
        <p>{{ point.info }}</p>
        <h3><a href={{point.websiteUrl}}>{{point.websiteUrl}}</a></h3>
        <h3>{{ point.address }} {{ point.city }}, {{ point.state }} {{ point.zip }} | {{point.phone}}</h3>

        <button class='green small'>Send me this</button>
      </article>
    {{else}}
      <article>
        <h1>None found!</h1>
      </article>
    {{/each}}
  </section>

</section>