<section id="browser">
  <div class="bar">
    <button class="small red notext" {{action 'back'}} title={{t 'back'}}>&larr;</button>
    <button class="small red notext" {{action 'forward'}} title={{t 'forward'}}>&rarr;</button>

    {{input value=displayed_url placeholder='http://' insert-newline='go'}}

    <button class="small red notext" {{action 'go'}} title={{t 'back'}}>Go</button>
  </div>

  {{k-webview url=model.url}}
</section>