<section id="index">
  {{#if i18n.isSet}}
    {{!-- TODO - componentize browser --}}

    <section class="card browse">
      <h1>{{t "browse_header"}}</h1>
      <h2>{{t "browse_subtitle"}}</h2>
      <a href="http://google.com" class="start">{{t "browse_start"}}</a>
    </section>

    {{k-map}}
    
    {{k-news articles=model.news}}
  {{else}}
    {{k-language-picker}}
  {{/if}}
</section>