<section class="card send">

  <div id="info" class="{{if editing 'editing'}}">
    {{#mapbox-map mapId='mapbox.streets' divId="map" center=(mapbox-coords model.location.latitude model.location.longitude) zoom=13 as |map|}}
      {{mapbox-marker map=map color='#FF0000' popup-title=model.name url=model.websiteUrl symbol='star' coordinates=(mapbox-coords model.location.latitude model.location.longitude)}}
    {{/mapbox-map}}

    {{content-editable value=model.name placeholder="Name" type="text" tagName="h2" disabled=not_editing }}
    
    <h4>
      {{content-editable value=model.address.street placeholder="Street" type="text" tagName="span" disabled=not_editing}}
      {{content-editable value=model.address.city placeholder="City" type="text" tagName="span" disabled=not_editing}}, 
      {{content-editable value=model.address.state placeholder="State" type="text" tagName="span" disabled=not_editing}}
      {{content-editable value=model.address.zip placeholder="Zip" type="text" tagName="span" disabled=not_editing}} 
      (<a href="http://www.google.com/maps/place/{{model.location.latitude}},{{model.location.longitude}}">Google Maps</a>) | 
      {{content-editable value=model.address.phone placeholder="Phone" type="text" tagName="span" disabled=not_editing}}
    </h4>

    {{#if editing}}
      {{content-editable value=model.url placeholder="http://" type="text" tagName="span" disabled=not_editing class="link"}}
    {{else}}
      {{!-- <a href={{model.url}} class="link"><h4>{{model.url}}</h4></a> --}}
      {{#link-to 'browse' (query-params url=model.url) class="link"}}{{model.url}}{{/link-to}}
    {{/if}}

    {{#if editing}}
      {{content-editable value=model.description placeholder="Description" type="text" tagName="p" disabled=not_editing }}
    {{else}}
      <p>{{{model.description}}}</p>
    {{/if}}
  </div>

  {{#if model.directions }}
    <div id="directions">
      <h3>Directions from here</h3>
      <p>
        {{#each model.directions as |direction|}}
          {{direction}}<br/>
        {{/each}}
      </p>
    </div>
  {{/if}}


  <div id="actions">

    {{#if application.admin }}
      <button class="small left {{if editing 'blue' 'green'}}" {{action (if editing 'save' 'edit')}}>{{t (if editing 'save' 'edit')}}</button>
    {{/if}}
    <button class="small {{if is_medium_mail 'red' 'blue'}}" {{action 'set_medium' 'mail'}}>{{t 'send_via.mail'}}</button>
    <button class="small {{if is_medium_email 'red' 'blue'}}" {{action 'set_medium' 'email'}}>{{t 'send_via.email'}}</button>
    <button class="small {{if is_medium_text 'red' 'blue'}}" {{action 'set_medium' 'text'}}>{{t 'send_via.text'}}</button>
  </div>

</section>

{{#unless is_medium_null }}
<section class="card send animated fadeInUp">
  {{#if is_sent }}
    <h1>{{t 'sent'}}</h1> <button {{action 'reset'}} class="small blue button" id="send">{{t 'another'}}</button>
  {{else}}

    <h1>{{t (concat 'sending_via' '.' medium) }}</h1>
    {{#if is_medium_text}}
      <label>Phone number</label><br/>
      {{input value=phone placeholder='+1900-XXX-XXXX'}}
    {{/if}}

    {{#if is_medium_email}}
      <label>Email address</label><br/>
      {{input value=email placeholder='user@site.com'}}
    {{/if}}

    {{#if is_medium_mail}}
      <div class="snailmail">
        <label>Street</label>
        {{input value=street placeholder='5 Main St'}}
        <label>City</label>
        {{input value=city placeholder='New Brunswick'}}
        <label>State</label>
        {{input value=state placeholder='NJ'}}
        <label>Zip</label>
        {{input value=zip placeholder='08591'}}
      </div>
    {{/if}}

    <div class="action-bar">
      {{#if is_loading }}
        {{k-loading}}<label>{{t 'sending'}}</label>
      {{else}}
        <button {{action 'send'}} class="small blue button" id="send">{{t 'send'}}</button>
      {{/if}}
    </div>
  {{/if}}
</section>
{{/unless}}